.all_banks{
    padding:0 15px 25px;
    .table-wrapper{
        position: relative;
        overflow-y: auto;
        max-height: calc(100vh - 300PX);
    }
    table{
        box-sizing: border-box;
        height: 100%;
        thead{
            background: #0d2247;
            color: #fff;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1234;
            th{
                border-radius: 0;
            }
        }
        tbody{
            tr{
                cursor: pointer;
                td{
                    padding: 0;
                    a{
                        padding: 15px 5px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        position: relative;
                        justify-content: center;
                        box-sizing: border-box;
                        i{
                            font-size: 1.5rem;
                            color: grey;
                            &.active, &:hover{
                                color: var(--active-color);
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom{
        position: sticky;
        bottom: 0;
        left:0;
        right: 0;
        background: #fff;
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px ;

        div.page_no{
            text-align: left;
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
            a{
                display: inline;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                color: var(--theme);
                font-size: 1.5rem;
                &.disabled{
                    opacity: 0.5;    
                    pointer-events: none;
                    cursor:not-allowed;
                }
            }
            p{
                display: inline;
                vertical-align: middle;
                font-size: 1rem;
                margin: 0 10px 0 7px;
                .active{
                    background: var(--theme);
                    padding:0 7px;
                    color: #fff;
                    border-radius: 5px;
                }
            }
        }
        select{
            float: right;
            height: 100%;
            max-width: max-content;
            margin-left: auto;
            margin-right: 0;
            text-align: center;
            border-radius: 10px;
            &:focus{
                outline: none;
                border-color: var(--theme);
            }
        }
    }
}

.filters{
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    margin: 15px 0;
    input, select{
        border-radius: 10px;
        border: 1px solid var(--theme);
        padding: 16px 15px;
        height: auto !important;
        width:100%;
        margin: 0 !important;
        font-size: 1.1rem;
        line-height: normal !important;
        font-weight: 600;
        box-sizing: border-box;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.29);
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.29);
        -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.29);
        &::placeholder{
            color: rgba($color: #000000, $alpha: 0.5);
        }

        &:focus, &:active{
            border-color: var(--active-color);
        }
    }
    select{
        padding: 15px 15px;
    }
    select:invalid{
        color: rgba($color: #000000, $alpha: 0.5);
    }
    
    select option { 
        color: #000; 
        font-size: 1.1rem;
        font-weight: 600;
    }

}

@media screen and (max-width:1120px) {
    .all_banks{
        .table-wrapper{
           max-height: calc(100vh - 350PX);
        }
    }
}

@media screen and (max-width:992px) {
    .all_banks{
        .table-wrapper{
           max-height: calc(100vh - 400PX);
        }
    }
}

@media screen and (max-width:600px) {
    .all_banks{
        .table-wrapper{
           max-height: calc(100vh - 450PX);
        }
    }
}