.App{
    padding-top: 60px;
}
.App main{
    min-height: calc(100vh - 60px);
    margin-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.App main .row.main_row{
    max-height: calc(100vh - 60px);
    width:100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.App main .row.main_row .content{
    max-height: 100%;
    overflow-y: auto;
}

table.highlight>tbody>tr:hover {
    background-color: rgba(var(--theme-rgb),0.2);
}

.sidenav{
    display: flex;
    padding-bottom: 0;
}

.sidenav div:first-of-type{
    width: 100%;
}
.sidenav li>a:hover{
    background: initial;
}

.sidenav li>a i {
    color: inherit;
}


@media only screen and (max-width: 992px){
        
    table.responsive-table tbody tr td a{
        justify-content: flex-start !important;
    }
}